$bg_color: #f1e3d3;
$main_color: rgb(0, 0, 0);
$form_width: 30%;
$form_margin: 50px auto;
$btn_bg_color: #8e7dbe;
$btn_txt_color: white;
$input_width: 50%;
$padding: 10px;
$border: none;
$outline: none;
